@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* =============================== RESET ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    outline: none;
}

/* =============================== HOME ===================== */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__register {
    width: 50vw;
    height: 100vh;
    background-color: #030303;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logo img {
    flex: 1;
}
.home__image {
    background: url('../images/side-image.jpg') no-repeat center/cover;
    flex: 1;
    height: 100vh;
}

/* =============================== FORM ===================== */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #24221F;
  border-radius: 5px;
}
.form__container {
    padding: 1rem 3rem;
    height: 90vh;
    max-height: 650px;
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__text {
    margin-bottom: 0.75rem;
    color: #D4CCB6;
}
.form__container label {
    display: block;
    color: #AFB6C2;
    margin-bottom: 1rem;
}
.form__container input {
    width: 100%;
    padding: 0.35rem 2rem 0.35rem 1rem;
    background-color: transparent;
    border: 2px solid #868686;
    color: #EEE;
    border-radius: 4px;
    font-size: 1rem;
}
.form__container input:focus {
    border-color: #FFC632;
}
.password__container {
  position: relative;
}
.icon,
.icon-blocked {
  font-size: 22px;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
.icon:hover {
  color: #FFC632;
}
.icon-blocked {
  display: none;
}
.register {
  margin-bottom: 1rem;
}
.error {
  background-color: #FF4030;
  color: #DDDDDD;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 0.25rem;
  display: flex;
  align-items: center;
  gap: 4px;
}
.error::before {
  content: url('../icons/error.png');
  position: relative;
  top: 1.5px;
}
.form__container input[type="submit"] {
    margin-top: 0.75rem;
    padding: 0.85rem 0;
    font-size: 18px;
    color: #473404;
    background-color: #FFC632;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.form__container input[type="submit"]:hover {
  filter: grayscale(25%);
}
.form__login {
    color: #FFC632;
}
.form__login a {
    text-decoration: none;
    color: #FFC632;
    font-weight: 600;
}

/* =============================== RESPONSIVIDADE ===================== */
@media (max-width: 1100px) {
  .home__image {
    display: none;
  }
  .home__register {
    width: 100vw;
    padding: 0 1rem;
  }
}